form Button {
    width: 100%;
}

h4{
	font-size: 1.5rem;
	color: white;
	text-align: center;
}

h2 {
    color: #313131;
}

h5 {
	font-size: 1rem;
    color: greenyellow;
}

hr.line {
    border: 1px solid #313131;
    width: 20%;
	margin-bottom: 5vh;
}

.app {
    margin: auto;
    padding-top: 1vh;
    width: 80%;
    text-align: center;
}

.lobby {
    width: 400px;
    margin: auto;
}

.chat {
    display: grid;
}

.leave-room {
    text-align: right;
    margin-bottom: 4px;
}

.user-list {
    float: left;
    background-color: #313131;
    color:white;
    width: 15vw;
    height: 70vh;
    margin-right: 0.5vw;
}

.message-container {
    height: 61.5vh;    
    background-color: white;
    overflow: auto;
    border-radius: 5px;
}

.user-message {
    text-align: right;
    padding-right: 5px;
    font-size: 18px;
}

.message {
	background-color: #0275d8;
    display: inline-flex;
    margin: 0px auto 0px auto;
    padding: 5px;
    font-size: 18px;
    color:white;
    border-radius: 20px;
    margin-top: 3px;
}

.from-user {
    font-size: small;
    margin-bottom: 3px;
    margin-right: 5px;
}
